.titulo h1{
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 7vh;
    color: #333333;
    text-align: left;
    letter-spacing: 1vh;
    width: 95vh;
    margin-left: 15vh;
}