@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --cor-fundo: #6975e8;
  --cor-principal: #ffffff;
  --cor-borda: #e4e4e4;
  --cor-texto: #2f2e41;
  --cor-texto-secundario: #8790a3;
  font-family: "Roboto Mono", monospace;
  --cor-fundo-secundario: #f4f2f2;
}

.container-planos {
  display: block;
  position: relative;
  background-color: var(--cor-fundo-secundario);
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 30px;
}

.container-planos h3 {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 400;
}

.planos {
  display: flex;
  justify-content: center;
}

.planos {
  display: flex;
  gap: 40px;
}
.plano {
  width: 240px;
  position: relative;
  box-sizing: border-box;
  border-radius: 40px 40px 5px 5px;
  background-color: var(--cor-principal);
}
.plano header {
  border-bottom: 1px solid var(--cor-texto);
  height: 74px;
  border-radius: 40px 40px 0 0;
  align-items: center;
  padding-top: 5px;
}
.planos h3 {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  font-size: 15px;
}
.planos section {
  margin: 15px;
  height: 250px;
}
.planos select {
  border-radius: 15px;
  font-size: 12px;
  font-family: "Roboto Mono", "monospace";
  font-weight: 400;
  width: 100%;
  height: 32px;
  border: solid 1px var(--cor-borda);
  box-shadow: 0px 4px 6px 0px #26323814;
  box-shadow: 0px 2px 4px 0px #26323814;
  margin-bottom: 10px;
}
.negrito {
  font-size: 12px;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}
footer {
  display: flex;
  align-items: end;
  justify-content: center;
}
footer .botao-cadastrar {
  width: 215px;
  height: 34px;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  color: var(--cor-principal);
  border-style: none;
  border-radius: 6px;
  background-color: var(--cor-fundo);
  margin-bottom: 20px;
}

footer .botao-cadastrar:hover {
  cursor: pointer;
}

.foto-mobile {
  width: 100%;
}
